In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

In [9]:
dataset_choice = input("Enter the dataset file name: ")
if dataset_choice == 'dis1.csv':
    df = pd.read_csv('dis1.csv')
    # Additional preprocessing or visualization for dis1.csv if needed
elif dataset_choice == 'dis2.csv':
    df = pd.read_csv('dis2.csv')
    # Additional preprocessing or visualization for dis2.csv if needed
elif dataset_choice == 'dis3.csv':
    df = pd.read_csv('dis3.csv')
    # Additional preprocessing or visualization for dis3.csv if needed
elif dataset_choice == 'dis4.csv':
    df = pd.read_csv('dis4.csv')
    # Additional preprocessing or visualization for dis4.csv if needed
else:
    print("Invalid dataset choice. Please select from dis1.csv, dis2.csv, dis3.csv, or dis4.csv.")
    exit()

Enter the dataset file name:  dis2.csv

In [10]:
df

          pH
0    4.60272
1    5.07436
2    5.40977
3    4.79002
4    5.34269
..       ...
175  5.11451
176  4.73605
177  4.52453
178  4.50217
179  5.14562

[180 rows x 1 columns]

In [11]:
forecast_col = 'pH'
forecast_out = 12

# Perform operations on 'df' after it's initialized
df['label'] = df[forecast_col].shift(-forecast_out)
df.dropna(inplace=True)
X = df[['pH']].values
y = df['label'].values

In [12]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2)

clf = LinearRegression()
clf.fit(X_train, y_train)

X_lately = X_scaled[-forecast_out:]
forecast_set = clf.predict(X_lately)
print(f"Forecasted pH value at index 3: {forecast_set[3]}")

Forecasted pH value at index 3: 4.973635324450498